.div-login-base {
  max-width: 400px;
  margin: auto;
  margin-top: 8%;
}

.div-form {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin: auto;
  padding: 1rem .5rem;
}

.div-form input {
  margin-top: 5px;
}

.div-form button {
  margin-top: 10px;
}

.fom-login {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.fom-register {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}
