<div class="div-post-base">
  <app-back [hidden]="hideBack" [value]="'返回列表'" [link]="backLink" style="float: right;"></app-back>
  <br/>
  <div *ngIf="detail">
    <h1>{{detail.title}}</h1>
    <span>
      <p>所属主题 : {{detail.theme}}</p>
    </span>
    <div>
      <span>发帖人 : {{detail.creator}}</span>
      <span style="margin-left: 2rem;">发帖时间 : {{detail.createDate}}</span>
    </div>
    <div class="div-content">
      <markdown>
        {{detail.content}}
      </markdown>
    </div>
    <button class="btn" [class.btn-disabled]="detail.isLiked" [disabled]="detail.isLiked" (click)="like()">
      点赞: {{detail.likes}}</button>
    <div class="div-comments">
      <h2>评论</h2>
      <ul>
        <li class="li-comment" *ngFor="let comment of detail.comments">
          {{comment.comment}}
        </li>
        <br />
        <a href="javascript:;" *ngIf="detail.hasMoreComments" (click)="getMoreComments()">更多评论...</a>
      </ul>
    </div>
  </div>
</div>
