.div-post-base {
  margin: 1rem 3rem;
}

.div-content {
  padding-top: 3rem;
}

.div-comments {
  padding: .5rem;
  border: 1px solid #aaa;
  margin-top: 1rem;
  background-color: #ffde9c;
}

.li-comment {
  padding: .3rem;
  border-bottom: 1px solid #777;
}
