<div class="div-post-base">
  <div *ngIf="detail">
    <h1>{{detail.title}}</h1>
    <span>
      <p>所属主题 : {{detail.theme}}</p>
    </span>
    <div>
      <span>发帖人 : {{detail.creator}}</span>
      <span style="margin-left: 2rem;">发帖时间 : {{detail.createDate}}</span>
    </div>
    <div class="div-content">
      <markdown>
        {{detail.content}}
      </markdown>
    </div>
    <div class="div-likes">
      <button class="btn">点赞: {{detail.likes}}</button>
    </div>
    <div class="div-comments">

    </div>
  </div>
</div>
