<div class="div-segments-base">
  <!-- 主题 -->
  <div class="div-row-title" nz-row>
    <div class="div-title" nz-col>
      <a routerLink="/">
        <img src="assets/images/myFor.png" alt="myFor" width="80px">
      </a>
      <span class="spn-title">段子</span>
    </div>
  </div>
  <div class="div-list">
    <div class="div-order">
      <a [routerLink]="['/segments', {state: 'week'}]">一周热门</a>
      <a [routerLink]="['/segments']">最新</a>
    </div>
    <ul class="ul-segments">
      <li class="li-segment" *ngFor="let segment of segments">
        <div class="div-segment-item">
          <div class="div-nickname">{{segment.nickName}}</div>
          <div class="div-content">{{segment.content}}</div>
          <div class="div-date">
            <span class="spn-date">{{segment.date}}</span>
            <button class="btn-primary">同意 : {{segment.likes}}</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="div-pagination">
      <nz-pagination [nzTotal]="totalRows" [nzPageSize]="20" [nzSize]="'small'"
        (nzPageIndexChange)="pageChange($event)">
      </nz-pagination>
    </div>
  </div>
</div>
