<div class="div-home-page">
  <div nz-row class="div-home-search">
    <div nz-col class="div-search">
      <div class="div-search-block">
        <input #txt_search type="text" placeholder="搜索" />
        <button class="btn btn-search" type="button" (click)="search(txt_search.value)">搜索</button>
      </div>
    </div>
  </div>
  <div class="div-home-list" nz-row nzGutter="16">

    <div nz-col [nzXs]="{span: 22, offset: 1}" [nzSm]="{span: 20, offset: 2}" [nzMd]="{span: 5, offset: 3}">
      <div class="div-list">
        <span class="title">热门主题</span>
        <a [routerLink]="['/themes', {state: 'hot'}]">更多</a>
        <ul>
          <li *ngFor="let theme of themes">
            <div>
              <a [routerLink]="['/posts', {theme: theme.name}]">{{theme.name}}</a>
            </div>
            <span class="spn-info-bottom">帖子数: {{theme.postsCount}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col [nzXs]="{span: 22, offset: 1}" [nzSm]="{span: 20, offset: 2}" [nzMd]="{span: 7, offset: 0}">
      <div class="div-list">
        <span class="title">热门帖子</span>
        <a [routerLink]="['/posts', {state: 'week'}]">更多</a>
        <ul>
          <li *ngFor="let post of posts">
            <div>
              <a routerLink="/posts/{{post.id}}">{{post.name}}</a>
            </div>
            <span class="spn-info-bottom">点赞数: {{post.likes}} &nbsp;&nbsp; 评论数: {{post.comments}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col [nzXs]="{span: 22, offset: 1}" [nzSm]="{span: 20, offset: 2}" [nzMd]="{span: 5, offset: 0}">
      <div class="div-list">
        <span class="title">最新段子</span>
        <a [routerLink]="['/segments', {state: 'week'}]">更多</a>
        <ul>
          <li *ngFor="let segment of segments">
            <div>
              <a routerLink="/segments/{{segment.id}}">{{segment.content}}</a>
            </div>
            <span class="spn-info-bottom">点赞数: {{segment.likes}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col [nzSm]="1" [nzMd]="{span: 3}"></div>
  </div>
</div>
