<div class="div-base-page">
  <nav>
    <a class="a-title" [routerLink]="['/home']">
      myFor
      <!-- <img src="assets/images/myFor.png" alt="myFor" width="45px"> -->
    </a>
    <div class="div-user" [ngSwitch]="isLogged">
      <a *ngSwitchCase="false" [routerLink]="['/login']">登录</a>
      <div *ngSwitchCase="true">
        <a routerLink="/themes/new">创建新主题</a>
        <a class="a-new-post" routerLink="/posts/new">发新帖</a>
        <a class="a-username" href="javascript:;" title="这是你">{{userName}}</a>
        <a href="javascript:;" (click)="logout()">登出</a>
      </div>
    </div>
  </nav>
  <div style="margin-top: 60px;">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>Copyright&nbsp;All Rights Reserved</footer>
