/* You can add global styles to this file, and also import other style files */

html {
  font-size: 18px;
}

body {
  background-color: #f5f5f5 !important;
}

input[type=text] {
  border: 1px solid #aaa;
}

ul {
  list-style: none !important;
  padding-inline-start: 0px !important;
}

a:link {
  color: #0000ee !important;
}

a:visited {
  color: #551A8B !important;
}

img {
  max-width: 100%;
}

.font-gray {
  color: gray !important;
}

.font-red {
  color: red !important;
}

.w100 {
  width: 100% !important;
}

.btn {
  min-width: 90px;
  background-color: white;
  border: 1px solid #aaa;
}

.btn:active {
  background-color: #bae7ff;
}

.btn-raised {
  width: 5rem;
  background-color: #f9f9f9;
  margin: 10px 0 0 0;
  box-shadow: 0px 7px 5px -7px #868686;
}

.btn-raised:active {
  background-color: #bae7ff;
  ;
  box-shadow: none;
  margin: 11px 0 -1px 0;
}

.btn-primary {
  min-width: 90px;
  background-color: #bae7ff;
  border: 1px solid #4cafff;
}

.btn-primary:active {
  background-color: #fff;
  border: 1px solid #5fc7ff;
}

.btn-disabled {
  min-width: 90px;
  background-color: #e8e8e8;
  border: 1px solid #aaa;
  color: #888787;
}

.div-pagination {
  padding: .5rem 0;
  box-shadow: 0 -7px 5px -5px #aaa;
}

.error {
  color: red;
}

.mf-tip {
  position: fixed;
  top: 40%;
  left: 45%;
  padding: 6px 20px;
  background-color: #000;
  opacity: .8;
  color: white;
  box-shadow: 0px 5px 4px -2px #666;
  border-radius: 2px;
}

.mf-shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.51);
}

/* 搜索框 */
.div-search-block {
  display: flex;
  width: 30%;
  min-width: 300px;
  padding: 1rem .3rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin: auto;
}

.div-search-block>input {
  flex-grow: 1;
}

.div-search-block>.btn-search {
  margin-left: -1px;
}

/* end */
