<div class="div-theme-base">
  <!-- 主题 -->
  <div class="div-row-title" nz-row>
    <div class="div-title" nz-col>
      <img src="assets/images/myFor.png" alt="myFor" width="80px">
      <span class="spn-title">主题列表</span>
      <div class="div-search">
        <input type="text" #txt_search placeholder="搜索主题" />
        <button class="btn" (click)="searchThemes(txt_search.value)">搜索主题</button>
      </div>
    </div>
  </div>
  <!-- 列表 -->
  <div class="div-row-list" nz-row>
    <div class="div-col-themes" nz-col [nzSpan]="12" [ngStyle]="{height: listHeight}">
      <ul>
        <li class="li-themes-item" *ngFor="let theme of themes">
          <div>
            <a class="a-theme-title" routerLink="/themes/{{theme.id}}">{{theme.name}}</a>
            <span class="spn-master">题主: {{theme.master}}</span>
          </div>
          <div class="div-theme-sub">
            <span>帖子数: {{theme.postsCount}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div nz-col [nzSpan]="12">
      <app-theme-detail></app-theme-detail>
    </div>
  </div>
</div>
